@tailwind base;
@tailwind components;
@tailwind utilities;

.button-back-default-position {
  position: fixed;
  top: 20px;
  left: 20px;
}

.button-redirect-bottom-default-position {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.default-image-size {
  width: 280px;
}

@media screen and (min-width: 768px) {
  .default-image-size {
    width: 320px;
  }
}

@media screen and (min-width: 1280px) {
  .default-image-size {
    width: 350px;
  }
}
